* {
  padding: 0;
  margin: 30px;
  box-sizing: border-box;
  /* display: inline-block; */
  /* margin: 50px; */
}
/* .slider-imgs {
  display: inline-block;
  width: 500px;
  height: 500px;
  border: 3px solid orangered; 
}*/
button {
  padding: 20px;
  margin-top: 5px;
  font-size: xx-large;
}
.slider-controls {
  margin: auto;
}
img {
  /* background-color: orangered; */
  width: 500px;
  height: 500px;
  border: 3px solid orangered;
}

/* .show {
  display: inline-block;
}
.hide {
  display: none;
} */
